/* Animated | Home Button */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/home-button.css");



/*Profile Modal*/
 .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
   z-index: 1;
   background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right, rgb(57, 245, 0), rgb(47, 161, 13));
}


.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
   z-index: 1;
   background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#1db954,#44fc9d);
}
@keyframes rainbow-server-settings-button {
  from {color: #6666ff}
  25%  {color: #0099ff}
  50%  {color: #00ff00}
  75%  {color: #ff3399}
  100% {color: #6666ff}
}

.button-1w5pas {
  animation: rainbow-server-settings-button 10s ease-in-out infinite;
}
.wrapper-3WhCwL {
    color: rgba(59, 201, 16);
    background: rgba(59, 201, 16, 0.1);
}
